.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.space-around {
  justify-content: space-around;
}

.self-center {
  align-self: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}