.notify-box {
  max-width: 300px;
  margin-top: 0.2rem;
  padding: 0.5rem 1.5rem;
  animation-fill-mode: both;
  border: 2px solid;
  font-weight: bold;

}

.notify-normal {
  background-color: #b8dcee;
  color: #000000;
  border-color: #16ccae;
}

.notify-error {
  background-color: #943430;
  color: #b8dcee;
  border-color: #b60000;
}

.notify-success {
  background-color: #f7f12c;
  color: #000000;
  border-color: #bbb516;
}

.notify-a-enter {
  animation: notify-enter 0.3s ease-in;

}

@keyframes notify-enter {
  0% {
    transform: translateX(125%)
  }
  50% {
    transform: translateX(2rem)
  }
  75% {
    transform: translateX(-1rem)
  }
  100% {
    transform: translateX(0)
  }
}
.notify-a-leave {
  animation: notify-leave 0.3s ease-out;
}

@keyframes notify-leave {
  0% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(-1rem)
  }
  75% {
    transform: translateX(2rem)
  }
  100% {
    transform: translateX(125%);
  }
}