:root {
  --left-bar-width: 8rem;
  --z-topbar: 10;
  --z-modal: 20;
  --bgi:linear-gradient(60deg, #0d1418 0%, #11161b 100%);
  --border: #7cdcf4;
  --sidebar-tab-height: 2.5rem;
  --sidebar-tab-tri: 1.5rem;
  --news-height: 2rem;
}